@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Balinese&display=swap');

.sell-section {
    background-color: var(--colorNeutralWarm);
}

.menu-title h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
    sans-serif;
    text-align: center;
    color: var(--colorGreenStarbucks);
    font-size: 350%;
    padding-top: 2%;
    margin: 0 36%;
    border-bottom: 4px rgb(40, 40, 40) solid;
}

.produtos {
    justify-content: center;
    margin: 2%;
}
.produtos {
    display: grid;
    margin: 2% 0;
    grid-template-columns: 30% 30% 30%;
    grid-auto-rows: minmax(100px, auto);
    gap: 0.2%;
    justify-content: center;
}

.coffee-board {
    margin: 1% 10%;
    border-radius: 15px;
    border: 2px var(--shop-menu-color) solid;
    background-color: var(--shop-menu-color);
    text-align: center;
}

.coffee-board img {
    border-radius: 12px;
    width: 50vh;
    height: 35vh;
    max-width: 100%;
}

.coffee-board button {
    margin: 5% 2% 3% 2%;
    padding: 1vh 38%;
}

.coffee-title {
    text-align: center;
    margin: 2% 0 2% 0;
    color: var(--colorGreenStarbucks);
    font-size: 200%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
    sans-serif;
}

.coffee-price {
    color: var(--colorGreenStarbucks);
    font-size: 85%;
}

.coffee-description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
}

button {
    background-color: var(--colorGreenAccent);
    border: 1px solid var(--colorGreenAccent);
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    transition: all 150ms;
}

button:hover {
    cursor: pointer;
    background-color: var(--colorGreenLight);
    color: var(--colorGreenAccent);
    border: 1px solid var(--colorGreenAccent);
}